/* montserrat-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    font-size: 62.5%;
    --main-color: #121214;
    --design-color: #037E8C;
    --additional-color: white;
    --bottom-text-color: #787878;
    --our-route-color: #F4F4F4;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: var(--main-color);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 1rem;
}

.grid-container {
  display: grid;
  background-color: black;
  height: auto;
  max-width: 500px;
  gap: 10px;
  padding: 2px 10px;
  grid-template-columns: 2.2fr 1fr 0.8fr;
  grid-template-rows: 25px 150px 150px 50px;
  grid-template-areas: 'item1 item2 item2'
                        'item3 item4 item4'
                        'item3 item5 item6'
                        'item7 item8 item8';
}

.item1 {
  background-color: white;
  grid-area: item1;
}

.item2 {
  background-color: yellow;
  grid-area: item2;
}

.item3 {
  background-color: red;
  grid-area: item3;
}

.item4 {
  background-color: yellow;
  grid-area: item4;
}

.item5 {
  background-color: white;
  grid-area: item5;
}

.item6 {
  background-color: white;
  grid-area: item6;
}

.item7 {
  background-color: white;
  grid-area: item7;
  width: 170px; 
  justify-self: end;
}

.item8 {
  background-color: white;
  grid-area: item8;
}

.dashboard {
  display: grid;
  background-color: #F4F4F4;
  height: 1000px;
  padding: 25px;
  gap: 25px;
  grid-template-areas: 'sidebar graph1 graph1 graph1 graph1 graph1 graph1'
                       'sidebar graph2 graph2 graph3 graph3 graph4 graph4'
                       'sidebar graph5 graph5 graph5 graph6 graph6 graph6';
}


.item {
  border-radius: 15px;
  background-color: powderblue;
}

.sidebar {
  background-color: powderblue;
  grid-area: sidebar;
}

.graph1 { 
  grid-area: graph1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 208.439c18.2-16.715 54.6-89.81 91-83.574 36.4 6.236 54.6 85.688 91 114.753 36.4 29.066 54.6 19.277 91 30.574s54.6-71.023 91 25.91c36.4 96.934 54.6 495.467 91 458.759 36.4-36.708 54.6-619.78 91-642.298 36.4-22.52 54.6 430.28 91 529.704 36.4 99.422 54.6 52.364 91-32.59 36.4-84.955 54.6-378.95 91-392.184 36.4-13.233 54.6 220.048 91 326.017 36.4 105.968 54.6 195.411 91 203.827 36.4 8.416 54.6-100.543 91-161.747 36.4-61.203 54.6-147.302 91-144.272 36.4 3.03 54.6 203.576 91 159.425 36.4-44.151 54.6-350.878 91-380.182 36.4-29.304 54.6 204.735 91 233.662 36.4 28.927 54.6-27.143 91-89.027 36.4-61.883 54.6-267.365 91-220.392 36.4 46.974 54.6 339.726 91 455.26 36.4 115.535 54.6 193.457 91 122.414 36.4-71.043 54.6-468.46 91-477.63 36.4-9.17 72.8 345.424 91 431.78L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 208.439c18.2-16.715 54.6-89.81 91-83.574 36.4 6.236 54.6 85.688 91 114.753 36.4 29.066 54.6 19.277 91 30.574s54.6-71.023 91 25.91c36.4 96.934 54.6 495.467 91 458.759 36.4-36.708 54.6-619.78 91-642.298 36.4-22.52 54.6 430.28 91 529.704 36.4 99.422 54.6 52.364 91-32.59 36.4-84.955 54.6-378.95 91-392.184 36.4-13.233 54.6 220.048 91 326.017 36.4 105.968 54.6 195.411 91 203.827 36.4 8.416 54.6-100.543 91-161.747 36.4-61.203 54.6-147.302 91-144.272 36.4 3.03 54.6 203.576 91 159.425 36.4-44.151 54.6-350.878 91-380.182 36.4-29.304 54.6 204.735 91 233.662 36.4 28.927 54.6-27.143 91-89.027 36.4-61.883 54.6-267.365 91-220.392 36.4 46.974 54.6 339.726 91 455.26 36.4 115.535 54.6 193.457 91 122.414 36.4-71.043 54.6-468.46 91-477.63 36.4-9.17 72.8 345.424 91 431.78%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");
} 

.graph2 {
  grid-area: graph2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 171.8c18.2 4.116 54.6-3.57 91 20.575 36.4 24.144 54.6 104.282 91 100.15 36.4-4.132 54.6-93.074 91-120.811 36.4-27.738 54.6-46.619 91-17.876s54.6 162.043 91 161.59c36.4-.455 54.6-223.734 91-163.859s54.6 458.636 91 463.232c36.4 4.596 54.6-471.643 91-440.251 36.4 31.391 54.6 608.003 91 597.21 36.4-10.793 54.6-593.086 91-651.176 36.4-58.09 54.6 339.079 91 360.723 36.4 21.645 54.6-203.473 91-252.501 36.4-49.028 54.6-62.313 91 7.362s54.6 268.156 91 341.014c36.4 72.859 54.6 62.35 91 23.278s54.6-185.91 91-218.638c36.4-32.727 54.6 6.314 91 55 36.4 48.687 54.6 235.789 91 188.433 36.4-47.357 54.6-439.723 91-425.214 36.4 14.51 54.6 497.752 91 497.761 36.4.01 54.6-485.925 91-497.716 36.4-11.791 72.8 351.009 91 438.761L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 171.8c18.2 4.116 54.6-3.57 91 20.575 36.4 24.144 54.6 104.282 91 100.15 36.4-4.132 54.6-93.074 91-120.811 36.4-27.738 54.6-46.619 91-17.876s54.6 162.043 91 161.59c36.4-.455 54.6-223.734 91-163.859s54.6 458.636 91 463.232c36.4 4.596 54.6-471.643 91-440.251 36.4 31.391 54.6 608.003 91 597.21 36.4-10.793 54.6-593.086 91-651.176 36.4-58.09 54.6 339.079 91 360.723 36.4 21.645 54.6-203.473 91-252.501 36.4-49.028 54.6-62.313 91 7.362s54.6 268.156 91 341.014c36.4 72.859 54.6 62.35 91 23.278s54.6-185.91 91-218.638c36.4-32.727 54.6 6.314 91 55 36.4 48.687 54.6 235.789 91 188.433 36.4-47.357 54.6-439.723 91-425.214 36.4 14.51 54.6 497.752 91 497.761 36.4.01 54.6-485.925 91-497.716 36.4-11.791 72.8 351.009 91 438.761%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");

}

.graph3 {
  grid-area: graph3;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 592.64c18.2 19.228 54.6 157.301 91 96.136 36.4-61.166 54.6-304.094 91-401.963 36.4-97.868 54.6-164.387 91-87.382 36.4 77.006 54.6 427.493 91 472.409s54.6-272.658 91-247.829c36.4 24.829 54.6 315.188 91 371.973 36.4 56.784 54.6 31.651 91-88.05 36.4-119.702 54.6-412.748 91-510.459 36.4-97.71 54.6-25.931 91 21.904 36.4 47.836 54.6 236.265 91 217.275 36.4-18.99 54.6-366.634 91-312.225 36.4 54.408 54.6 551.838 91 584.268 36.4 32.43 54.6-439.69 91-422.119 36.4 17.572 54.6 499.974 91 509.976 36.4 10.002 54.6-340.746 91-459.965 36.4-119.218 54.6-168.26 91-136.126 36.4 32.133 54.6 212.711 91 296.791 36.4 84.08 54.6 110.817 91 123.61 36.4 12.793 54.6-6.725 91-59.644s54.6-159.352 91-204.949c36.4-45.596 54.6-65.441 91-23.032 36.4 42.41 72.8 188.064 91 235.08L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 592.64c18.2 19.228 54.6 157.301 91 96.136 36.4-61.166 54.6-304.094 91-401.963 36.4-97.868 54.6-164.387 91-87.382 36.4 77.006 54.6 427.493 91 472.409s54.6-272.658 91-247.829c36.4 24.829 54.6 315.188 91 371.973 36.4 56.784 54.6 31.651 91-88.05 36.4-119.702 54.6-412.748 91-510.459 36.4-97.71 54.6-25.931 91 21.904 36.4 47.836 54.6 236.265 91 217.275 36.4-18.99 54.6-366.634 91-312.225 36.4 54.408 54.6 551.838 91 584.268 36.4 32.43 54.6-439.69 91-422.119 36.4 17.572 54.6 499.974 91 509.976 36.4 10.002 54.6-340.746 91-459.965 36.4-119.218 54.6-168.26 91-136.126 36.4 32.133 54.6 212.711 91 296.791 36.4 84.08 54.6 110.817 91 123.61 36.4 12.793 54.6-6.725 91-59.644s54.6-159.352 91-204.949c36.4-45.596 54.6-65.441 91-23.032 36.4 42.41 72.8 188.064 91 235.08%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");

}

.graph4 {
  grid-area: graph4;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 283.658c18.2 65.677 54.6 311.947 91 328.386 36.4 16.44 54.6-199.007 91-246.19 36.4-47.184 54.6 37.62 91 10.273 36.4-27.346 54.6-133.447 91-147.005 36.4-13.558 54.6 63.834 91 79.216 36.4 15.381 54.6 18.133 91-2.309s54.6-174.909 91-99.902c36.4 75.006 54.6 494.587 91 474.935 36.4-19.651 54.6-590.764 91-573.194 36.4 17.569 54.6 558.455 91 661.041 36.4 102.586 54.6-44.754 91-148.114 36.4-103.36 54.6-403.152 91-368.684 36.4 34.468 54.6 432.781 91 541.025 36.4 108.243 54.6 112.238 91 .192 36.4-112.047 54.6-541.987 91-560.425 36.4-18.44 54.6 492.992 91 468.231 36.4-24.76 54.6-594.677 91-592.037 36.4 2.64 54.6 502.312 91 605.239 36.4 102.926 54.6-73.886 91-90.607 36.4-16.72 54.6 34.145 91 7.001 36.4-27.143 54.6-78.561 91-142.718 36.4-64.157 72.8-142.453 91-178.066L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 283.658c18.2 65.677 54.6 311.947 91 328.386 36.4 16.44 54.6-199.007 91-246.19 36.4-47.184 54.6 37.62 91 10.273 36.4-27.346 54.6-133.447 91-147.005 36.4-13.558 54.6 63.834 91 79.216 36.4 15.381 54.6 18.133 91-2.309s54.6-174.909 91-99.902c36.4 75.006 54.6 494.587 91 474.935 36.4-19.651 54.6-590.764 91-573.194 36.4 17.569 54.6 558.455 91 661.041 36.4 102.586 54.6-44.754 91-148.114 36.4-103.36 54.6-403.152 91-368.684 36.4 34.468 54.6 432.781 91 541.025 36.4 108.243 54.6 112.238 91 .192 36.4-112.047 54.6-541.987 91-560.425 36.4-18.44 54.6 492.992 91 468.231 36.4-24.76 54.6-594.677 91-592.037 36.4 2.64 54.6 502.312 91 605.239 36.4 102.926 54.6-73.886 91-90.607 36.4-16.72 54.6 34.145 91 7.001 36.4-27.143 54.6-78.561 91-142.718 36.4-64.157 72.8-142.453 91-178.066%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");

}

.graph5 { 
  grid-area: graph5;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 329.251c18.2.687 54.6-45.812 91 3.433 36.4 49.244 54.6 181.943 91 242.789 36.4 60.846 54.6 132.52 91 61.44 36.4-71.079 54.6-420.962 91-416.837 36.4 4.126 54.6 458.491 91 437.466 36.4-21.026 54.6-505.138 91-542.595 36.4-37.456 54.6 301.685 91 355.312 36.4 53.627 54.6-72.645 91-87.175 36.4-14.53 54.6-44.153 91 14.524s54.6 208.025 91 278.86c36.4 70.834 54.6 136.374 91 75.312s54.6-348.357 91-380.623c36.4-32.267 54.6 187.359 91 219.29 36.4 31.931 54.6 20.916 91-59.635s54.6-279.647 91-343.12c36.4-63.474 54.6-10.705 91 25.751 36.4 36.457 54.6 79.26 91 156.532 36.4 77.273 54.6 259.894 91 229.834 36.4-30.061 54.6-398.632 91-380.136 36.4 18.495 54.6 410.107 91 472.615 36.4 62.508 54.6-80.178 91-160.074 36.4-79.897 72.8-191.527 91-239.409L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 329.251c18.2.687 54.6-45.812 91 3.433 36.4 49.244 54.6 181.943 91 242.789 36.4 60.846 54.6 132.52 91 61.44 36.4-71.079 54.6-420.962 91-416.837 36.4 4.126 54.6 458.491 91 437.466 36.4-21.026 54.6-505.138 91-542.595 36.4-37.456 54.6 301.685 91 355.312 36.4 53.627 54.6-72.645 91-87.175 36.4-14.53 54.6-44.153 91 14.524s54.6 208.025 91 278.86c36.4 70.834 54.6 136.374 91 75.312s54.6-348.357 91-380.623c36.4-32.267 54.6 187.359 91 219.29 36.4 31.931 54.6 20.916 91-59.635s54.6-279.647 91-343.12c36.4-63.474 54.6-10.705 91 25.751 36.4 36.457 54.6 79.26 91 156.532 36.4 77.273 54.6 259.894 91 229.834 36.4-30.061 54.6-398.632 91-380.136 36.4 18.495 54.6 410.107 91 472.615 36.4 62.508 54.6-80.178 91-160.074 36.4-79.897 72.8-191.527 91-239.409%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");

}

.graph6 {
  grid-area: graph6;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 599.43c18.2-.304 54.6 96.079 91-1.516 36.4-97.594 54.6-524.887 91-486.456 36.4 38.432 54.6 636.793 91 678.612 36.4 41.818 54.6-379.344 91-469.518 36.4-90.173 54.6 50.332 91 18.649s54.6-233.7 91-177.065c36.4 56.636 54.6 358.48 91 460.244 36.4 101.765 54.6 124.562 91 48.581 36.4-75.98 54.6-320.733 91-428.485 36.4-107.752 54.6-200.282 91-110.274 36.4 90.007 54.6 493.063 91 560.312 36.4 67.249 54.6-240.111 91-224.069 36.4 16.043 54.6 273.375 91 304.281 36.4 30.906 54.6-42.404 91-149.75 36.4-107.347 54.6-366.192 91-386.982 36.4-20.789 54.6 242.504 91 283.036 36.4 40.531 54.6-25.148 91-80.376 36.4-55.229 54.6-183.957 91-195.766 36.4-11.809 54.6 56.915 91 136.72 36.4 79.806 54.6 296.18 91 262.307 36.4-33.872 54.6-401.605 91-431.667 36.4-30.06 72.8 225.089 91 281.36L2000 1000H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 599.43c18.2-.304 54.6 96.079 91-1.516 36.4-97.594 54.6-524.887 91-486.456 36.4 38.432 54.6 636.793 91 678.612 36.4 41.818 54.6-379.344 91-469.518 36.4-90.173 54.6 50.332 91 18.649s54.6-233.7 91-177.065c36.4 56.636 54.6 358.48 91 460.244 36.4 101.765 54.6 124.562 91 48.581 36.4-75.98 54.6-320.733 91-428.485 36.4-107.752 54.6-200.282 91-110.274 36.4 90.007 54.6 493.063 91 560.312 36.4 67.249 54.6-240.111 91-224.069 36.4 16.043 54.6 273.375 91 304.281 36.4 30.906 54.6-42.404 91-149.75 36.4-107.347 54.6-366.192 91-386.982 36.4-20.789 54.6 242.504 91 283.036 36.4 40.531 54.6-25.148 91-80.376 36.4-55.229 54.6-183.957 91-195.766 36.4-11.809 54.6 56.915 91 136.72 36.4 79.806 54.6 296.18 91 262.307 36.4-33.872 54.6-401.605 91-431.667 36.4-30.06 72.8 225.089 91 281.36%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%226%22%2F%3E%3C%2Fsvg%3E");
 
}

.ram {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}

.ram-item {
  aspect-ratio: 1;
}

.img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.center {
}